---
import CardWrapper from "../atoms/CardWrapper.astro";
import Icon from "../atoms/Icon.astro";
import ConnectorLine from "../atoms/ConnectorLine.astro";
---

<CardWrapper
    title="Request Response over HTTP"
    color="blue"
    contentId="sync-http"
>
    <div class="flex items-center w-full px-8 gap-4 h-40 relative">
        <!-- Browser -->
        <div class="z-10 absolute left-4 top-1/2 -translate-y-1/2">
            <Icon name="browser" />
        </div>

        <!-- API Gateway (Center) -->
        <div
            class="z-20 absolute left-[35%] top-1/2 -translate-x-1/2 -translate-y-1/2"
        >
            <Icon name="api" />
        </div>

        <!-- Server Stacks (Right) -->
        <div
            class="absolute right-4 top-0 bottom-0 flex flex-col justify-between py-2"
        >
            <!-- Top Stack -->
            <div class="flex flex-col gap-1 items-center z-10">
                <Icon name="server" />
                <span class="text-[10px] font-bold mt-1 text-slate-500">Svc</span
                >
            </div>

            <!-- Bottom Stack -->
            <div class="flex flex-col gap-1 items-center z-10">
                <Icon name="server" />
                <span class="text-[10px] font-bold mt-1 text-slate-500">Svc</span
                >
            </div>
        </div>

        <!-- Arrows -->
        <div class="absolute inset-0 pointer-events-none">
            <!-- Browser -> API -->
            <div class="absolute top-[45%] left-[15%] -translate-y-1/2">
                <ConnectorLine
                    width={80}
                    rotate={0}
                    isAnimate={true}
                    color="#64748B"
                />
            </div>

            <!-- API -> Top Server -->
            <div class="absolute top-[35%] left-[45%] -rotate-[15deg]">
                <ConnectorLine
                    width={200}
                    rotate={0}
                    isAnimate={true}
                    color="#64748B"
                />
            </div>

            <!-- API -> Bottom Server -->
            <div class="absolute bottom-[50%] left-[45%] rotate-[10deg]">
                <ConnectorLine
                    width={200}
                    rotate={0}
                    isAnimate={true}
                    color="#64748B"
                />
            </div>
        </div>
    </div>
</CardWrapper>
