---

---

<div class="relative w-full h-full flex items-center justify-center p-4">
    <div
        class="main-title-block topic-node rounded-xl p-8 max-w-xs text-center z-20"
    >
        <h2 class="text-xl font-bold leading-tight">
            Microservice<br />Communication<br />Patterns
        </h2>
    </div>
</div>
