---
import LabelBadge from "./LabelBadge.astro";
import HoverTooltip from "./HoverTooltip.astro";

interface Props {
    title?: string;
    color?: "yellow" | "green" | "pink" | "purple" | "blue";
    class?: string;
    contentId?: string;
}

const { title, color = "blue", class: className = "", contentId } = Astro.props;
---

<div
    class={`group relative surface-card pt-10 ${className}`}
>
    {
        title && (
            <div class="absolute -top-4 left-1/2 transform -translate-x-1/2">
                <LabelBadge text={title} color={color} />
            </div>
        )
    }

    {contentId && <HoverTooltip contentId={contentId} />}

    <div
        class="w-full h-full flex flex-col items-center justify-center relative z-0"
    >
        <slot />
    </div>
</div>
