---
import ServerDataNode from "../ServerDataNode.astro";

interface Props {
    name:
        | "server"
        | "database"
        | "file"
        | "queue"
        | "message-broker"
        | "browser"
        | "api"
        | "user";
    class?: string;
}

const { name, class: className = "" } = Astro.props;
---

<div class={`inline-flex items-center justify-center ${className}`}>
    {
        name === "server" && (
            // <div class="w-10 h-6 bg-gray-600 rounded relative shadow-sm">
            //     <div class="absolute top-1 right-1 w-1.5 h-1.5 bg-green-400 rounded-full" />
            // </div>
            <ServerDataNode />
        )
    }

    {
        name === "file" && (
            <div class="flex flex-col items-center justify-center bg-gray-200 p-2 rounded text-gray-600">
                <svg
                    class="w-8 h-8"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                    />
                </svg>
                <span class="text-[10px] font-bold mt-1">Shared File</span>
            </div>
        )
    }

    {
        name === "message-broker" && (
            <div class="flex flex-col items-center">
                <div class="w-16 h-12 border-2 border-pink-600 rounded-lg flex items-center justify-center bg-white z-20">
                    <svg
                        class="w-6 h-6 text-pink-600"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                        />
                    </svg>
                    <svg
                        class="w-6 h-6 text-pink-600"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                        />
                    </svg>
                    <svg
                        class="w-6 h-6 text-pink-600"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                        />
                    </svg>
                </div>
                <span class="text-xs font-bold text-pink-600 mt-1">Topic</span>
            </div>
        )
    }

    {
        name === "queue" && (
            <div class="border-2 border-pink-500 rounded px-3 py-1 bg-white text-pink-500 font-mono text-sm shadow-sm select-none">
                ||| Queue
            </div>
        )
    }

    {
        name === "browser" && (
            <div class="text-gray-600 flex flex-col items-center">
                <svg
                    class="w-12 h-10"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                >
                    <>
                        <rect
                            x="3"
                            y="3"
                            width="18"
                            height="18"
                            rx="2"
                            ry="2"
                            stroke-width="2"
                        />
                        <line x1="3" y1="9" x2="21" y2="9" stroke-width="2" />
                    </>
                </svg>
                <span class="text-xs font-bold mt-1">Browser</span>
            </div>
        )
    }

    {
        name === "api" && (
            <div class="bg-red-500 text-white text-xs font-bold px-2 py-1 rounded">
                API
            </div>
        )
    }
</div>
